.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header_logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hd_title {
    color: #0047ab;
}

.hd_text {
    color: #888;
    font-size: 14px;
}

.header_menu {
    display: flex;
}

.hd_link {
    margin-right: 20px;
    text-decoration: none;
    color: #0047ab;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
